body{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
header{
    text-align: Center;
    background: url("images/Background.jpg");
    background-size: cover;
    padding: 0px, 10px, 0px, 10px;
    color: white;
}
html {
    background-color: rgb(345, 96, 42);
}
h2 {
    font-family: 'Karla', sans-serif;
    text-align: center;
}
li{
    padding: 0px,10px,0px,10px;
    display: inline;
    color: rgb(red, green, blue);
}
#header-pic{
    margin: 40px,0px,0px,0px;
    border:5px solid black;
 
}
.potato{
    text-align: center; 
}
h1{
    font-size: 5em;
    color: rgb(1, 1, 1)
}
ul {
    color: black
    text-align: center;
    padding: 10px, 0px, 0px, 0px;
}
.PsyPHY{
    text-align: center;
}
.omegalul{
    text-align: Center;
    background: url("images/Dot.jpg");
    background-size: cover;
    padding: 0px, 10px, 0px, 10px;
    color: white;
    margin: 40px,0px,0px,0px;
}
.shinyEZEZ{
    text-align: Center;
    background: url("images/Aurora.jpg");
    background-size: cover;
    padding: 0px, 10px, 0px, 10px;
    color: white;
    margin: 40px,0px,0px,0px;
}
.patrick{
 text-align: Center;
    background: url("images/john-schnobrich-235243.jpg.jpg");
    background-size: cover;
    padding: 0px, 10px, 0px, 10px;
    color: white;
    margin: 40px,0px,0px,0px;
    
}
